.button{
    display: inline-block;
    font-size: 0.9375rem;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 1.875rem;
    box-shadow: $light_shadow;
    transition: 0.3s;
    text-transform: uppercase;
    padding: 1rem 2rem;
    @media(min-width:$bp_sm){
        padding: 1.25rem 2.5rem;
    }
}

.btn-primary{
    background-color: $accent;
    color: #fff;
    &:hover{
        background-color: $accent_hover;
        box-shadow: 0px 2px 5px #00000040;
    }
}

.btn-outline{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover{
        background-color: #fff;
        color: $text_color_headings;
    }
}

a.skip-link{
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    color: $text_color_body;
    letter-spacing: 1px;
    background-color: #fff;
    position: absolute;   
    left: 10px;
    top: 10px;
  &:focus{
    opacity: 1;
    z-index: 9999;
  }  
}
