.site-footer{
    background: #000 url('./assets/images/footer-bg.jpeg') 0% 0% no-repeat;
    background-size: cover;
    padding: 40px 0 60px;
    color: #fff;
    h4{
        color: #fff;
        margin-bottom: 35px;
    }
    .row{
        gap:20px;
        @media (min-width: $bp_lg){
            gap: 60px;
        }
    }
    .col{
        margin-bottom: 40px;
        width: 45%;
        @media (min-width: $bp_md){
            flex-basis: 150px;
        }
        @media (min-width: $bp_lg){
            flex-basis: 160px;
        }
    }
    .menu{
        li{
            &:not(:last-child){
                margin-bottom: 14px;
            }
            a{
                color: #fff;
                opacity: 0.8;
                transition: 0.3s;
                &:hover{
                    color: $accent_hover;
                }
            }
        }
       
    }
    .footer-branding{
        margin-bottom: 40px;
        position: relative;
        &::before{
            content: "";
            height: 1px;
            width: 45%;
            left: 0;
            bottom: 50%;
            background-color: #fff;
            opacity: 0.2;
            position: absolute;
        }
        &::after{
            content: "";
            height: 1px;
            width: 45%;
            right: 0;
            bottom: 50%;
            background-color: #fff;
            opacity: 0.2;
            position: absolute;
        }
    }
    .footer-socials{
        gap: 12px;
        @media (min-width: $bp_lg){
            gap: 15px;
        }
        a{
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            @media (min-width:$bp_md){
                width: 40px;
                height: 40px;
            }
            i{
                transition: 0.3s;
                color: #000;
                font-size: 16px;
                @media (min-width: $bp_lg){
                    font-size: 18px;
                }
            }
            &:hover{
                i{
                    color: $accent_hover;
                }
            }
        }
    }
    .copyright{
        max-width: 400px;
        margin: 8px auto 60px;
        font-size: 0.8125rem;
        opacity: 0.5;
    }
    .divider{
        height: 1px;
        width: 100%;
        background-color: #fff;
        opacity: 0.2;
    }
}