.site-header{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
    &.sticky{
        position: fixed;
        background: #fff;
        .menu li a{
            color: $text_color_headings;
        }
        .site-logo{
            filter: invert(0.9);
        }
        .social-icons a i{
            color: $text_color_headings;
        }
        .container{
            padding: 16px 0;
        }
        .btn-outline{
            color: $text_color_headings;
            border-color: $text_color_headings;
            box-shadow: none;
            &:hover{
                background-color: #000;
                color: #fff;
            }
        }
        .menu-toggle span{
            background-color: $text_color_headings;
        }
    }
    .social-icons{
        display: flex;
        flex-wrap: nowrap;
        a{
            transition: 0.3s;
            margin-right: 16px;
            @media (min-width:$bp_md){
                margin-right: 8px;
            }
            i{
                color:#fff;
                font-size: 16px;
            }
            &:hover{
                i{
                    color: $accent_hover;
                }
            }
        }
    }
    .container{
        transition: 0.3s;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .grid{
        grid-template-columns: 1fr auto 1fr;
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: $gutter;
        .menu-item{
            a{
                padding: 8px;
                transition: 0.3s;
                font-size: 0.8125rem;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 3px;
                line-height: 1.125rem;
                white-space: nowrap;
                &:hover{
                    color: $accent_hover;
                }
            }
        }
        &.right-menu{
            justify-content: flex-end;
        }
    }
    .menu-toggle{
        min-height: 24px;
        cursor: pointer;
        background: transparent;
        border: 0;
        span{
            background-color: #fff;
            height: 2px;
            width: 24px;
            display: block;
            transition: 0.3s;
            &:not(:last-child){
                margin-bottom: 6px;
            }
        }
        &.is-open{
            span{
                margin: 0;
                transform: rotate(-45deg) translateX(1px);
                transform-origin: center;
                &:first-child{
                    transform: rotate(45deg) translateX(1px);
                    
                }
                &:last-child{
                    display: none;
                }
            }
        }
        i{
            color: #fff;
            font-size: 24px;
        }
    }
    .left-bar{
        gap: 8vw;
        @media (min-width:$bp_xl){
            gap: 120px;
        }
    }
    .right-bar{
        gap: 2vw;
        @media (min-width:1100px){
            gap: 4vw;
        }
        @media (min-width:$bp_xl){
            gap: 60px;
        }
    }
}


.site-logo{
    text-align: center;
    
    img{
        width: auto;
    }
}

.cta{
    a{
        font-size: 0.8125rem;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        @media (min-width:$bp_xl) {
            padding: 1.25rem 2.5rem;
        }
    }
}

.off-canvas-menu{
    width: 95vw;
    padding-top: 10vh;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: -200%;
    top: 100%;
    z-index: 99;
    transition: 0.3s ease-in-out;
    @media (min-width: $bp_lg){
        display: none;
    }
    &.show{
        right: 0;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        li.menu-item{
            margin-bottom: 1.5rem;
            a{
                color: #000;
                font-size: 1.125rem;
            }
        }
        .btn-outline{
            color: #000;
        }
    } 
}