#hero{
    h1{
        color:#fff;
    }
    .narrow-block{
        max-width: 700px;
    }    
    .small-text{
        color: #fff;
        text-shadow: 0px 0px 4px #000000;
        margin-bottom: 0.75rem;
    }
    .hero-swiper{
        position: relative;
    }
    .swiper-slide{
        padding: 5vw;
        height: calc(min(900px, 100vh));
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $text_color_headings;
    }
    .slide-1{
        background: transparent url('./assets/images/hero/mk-website-slider-1-kitchen.jpeg') 50% 50% no-repeat;
        background-size: cover;
    }
    .slide-3{
        background: transparent url('./assets/images/mk-website-kitchen-design@2x.jpeg') 50% 50% no-repeat;
        background-size: cover;
    }
    .bg-overlay{
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0,0.3);
            z-index: -1;
        }
    }
    .button{
        padding: 1.25rem 3.75rem;
    }
    .swiper-pagination{
        bottom: 30px;
        z-index: 1;
        .swiper-pagination-bullet{
            margin: 0;
            border-radius: 3px;
            height: 5px;
            width: 30px;
            background-color: #fff;
            opacity: 1;
            @media (min-width: $bp_md){
                width: 50px;
            }
            &:not(:last-child){
                margin-right: 10px;
            }
            &.swiper-pagination-bullet-active{
                background-color: $accent;
            }
        }
    }
}

#about{
    .about-content{
        text-align: center;
        padding: 120px 24px;
        max-width: calc(1300px / 2);
        @media (min-width: $bp_md){
            text-align: left;
            padding: 120px 5vw 120px 50px;
        }
        @media (min-width: $bp_xl){
            padding: 168px 5vw 168px 70px;
        }
    }
    .about-cover{
        background: transparent url('./assets/images/mk-website-kitchen-design.jpeg') 50% 0% no-repeat;
        background-size: cover;
        min-height: 400px;
    }
    .small-text{
        margin-bottom: 15px;
    }
    h2{
        margin-bottom: 33px;
    }
    p{
        font-size: 0.9375rem;
        margin-bottom: 27px;
        line-height: 1.75rem;
    }
    .button{
        padding: 1.25rem 3.75rem;
    }
}

#testimonials{
    padding: 117px 0px;
    .swiper{
        max-width: 1000px;
        margin: 0 auto;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 50px;
        height: 50px;
        color: $accent;
        top: 58%;
        @media (min-width:$bp_md){
            width: 70px;
            height: 70px;
            top: 62%;
        }
        &::after{
            content: '';
            background: url('./assets/images/arrows.svg') 50% 50% no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
        }
    }
    .swiper-button-next{
        right: 4px;
        @media (min-width:$bp_md){
            right: 10px;
        }
    }
    .swiper-button-prev{
        left: 4px;
        &::after{
            transform: rotate(180deg);
        }
        @media (min-width:$bp_md){
            left: 10px;
        }
    }
    .testimonial{
        padding: 0 40px;
        max-width: 650px;
        margin: 0 auto;
        .small-text{
            margin-bottom: 1rem;
        }
        h3{
            margin-bottom: 1.5rem;
        }
        p{
            font-family: 'Helvetica';
            font-size: 1rem;
            line-height: 1.5em;
            margin-bottom: 1.5em; 
            @media (min-width:$bp_md) {
                font-size: 1.125rem;
                line-height: 32px;
            }
        }
        .author{
            display: block;
        }
    }
    .button{
        margin-top: 2.25rem;
        margin-left: 24px;
        margin-right: 24px;
    }
}

#gallery{
    padding: 93px 0 100px;
    h3{
        margin-bottom: 2.25rem;
    }
    .button{
        margin-top: 2.5rem;
    }
    a{
        overflow: hidden;
        img{
            transition: transform 0.5s ease-in-out;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}