.container{
    position: relative;
    margin: 0 auto;
    max-width: 90vw;
    @media (min-width:$bp_xl){
        max-width: 1300px;
    }
}

.grid{
    display: grid;
    align-items: center;
    gap: $gutter;
    grid-template-columns: 1fr 1fr;
    @media (min-width: $bp_md){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.row{
    width: 100%;
    display: flex;
    gap: $gutter;
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: nowrap;
}

.no-gutter{
    gap:0;
}

.col{
    width:100%;
    display: flex;
    flex-direction: column;
}

.col-6{
    width: 50%;
}

.content-center{
    justify-content: center;
}

.content-start{
    justify-content: flex-start;
}

.content-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.d-none{
    display: none;
}

@media (min-width:$bp_md){
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
    .col-md-6{
        width: 50%;
    }
    .row-reverse-md{
        flex-direction: row-reverse;
    }
    .col-md-3{
        width: 25%;
    }
}

@media (min-width:$bp_lg){
    .d-lg-block{
        display: block;
    }
    .d-lg-none{
        display: none;
    }
}