@font-face {
    font-family: 'Helvetica';
    src:  url('./assets/fonts/Helvetica.ttf');
}
@font-face {
    font-family: 'Helvetica';
    src:  url('./assets/fonts/Helvetica-Bold.ttf');
    font-weight: bold;
}
body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
    color: $text_color_headings;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
    font-size: 2rem;
    margin-bottom: 1.875rem;
    line-height: 1.12em;
    @media (min-width:$bp_sm){
        font-size: 2.625rem;
        letter-spacing: -1px;
    }
    @media (min-width:$bp_lg){
        font-size: 3.25rem;
    }
}

h2{
    font-size: 1.625rem;
    line-height: 1.2em;
    @media (min-width:$bp_lg){
        font-size: 2.625rem;
        line-height: 1.2em;
    }
}

h3{
    font-size: 1.5rem;
    line-height: 1.3em;
    @media (min-width:$bp_lg){
        font-size: 2rem;
    }
}

h4{
    font-size: 1.125rem;
    @media (min-width:$bp_md){
        font-size: 1.5rem;
    }
}

a{
    text-decoration: none;
}