@import './colors';
@import './variables';
@import './typography';
@import './buttons';
@import './header';
@import './footer';
@import './sections';
@import './structure';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    &.fixed{
        overflow: hidden!important;
    }
}

body{    
    color: $text_color_body;
}

.menu{
    list-style: none;
    margin: 0;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-upper{
    text-transform: uppercase;
}

.small-text{
    display: block;
    text-transform: uppercase;
    font-size: 0.8125rem;
    line-height: 1.5em;
    letter-spacing: 3px;
}

.accent-color{
    color: $accent;
}

.light-background{
    background-color: $bg_light;
}