@font-face {
  font-family: 'Helvetica';
  src: url("./assets/fonts/Helvetica.ttf");
}

@font-face {
  font-family: 'Helvetica';
  src: url("./assets/fonts/Helvetica-Bold.ttf");
  font-weight: bold;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #222222;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.875rem;
  line-height: 1.12em;
}

@media (min-width: 480px) {
  h1 {
    font-size: 2.625rem;
    letter-spacing: -1px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.625rem;
  line-height: 1.2em;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.625rem;
    line-height: 1.2em;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3em;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  font-size: 0.9375rem;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 1.875rem;
  -webkit-box-shadow: 0px 2px 10px #00000033;
          box-shadow: 0px 2px 10px #00000033;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

@media (min-width: 480px) {
  .button {
    padding: 1.25rem 2.5rem;
  }
}

.btn-primary {
  background-color: #D4B254;
  color: #fff;
}

.btn-primary:hover {
  background-color: #C8A74B;
  -webkit-box-shadow: 0px 2px 5px #00000040;
          box-shadow: 0px 2px 5px #00000040;
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-outline:hover {
  background-color: #fff;
  color: #222222;
}

a.skip-link {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  color: #777777;
  letter-spacing: 1px;
  background-color: #fff;
  position: absolute;
  left: 10px;
  top: 10px;
}

a.skip-link:focus {
  opacity: 1;
  z-index: 9999;
}

.site-header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header.sticky {
  position: fixed;
  background: #fff;
}

.site-header.sticky .menu li a {
  color: #222222;
}

.site-header.sticky .site-logo {
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
}

.site-header.sticky .social-icons a i {
  color: #222222;
}

.site-header.sticky .container {
  padding: 16px 0;
}

.site-header.sticky .btn-outline {
  color: #222222;
  border-color: #222222;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site-header.sticky .btn-outline:hover {
  background-color: #000;
  color: #fff;
}

.site-header.sticky .menu-toggle span {
  background-color: #222222;
}

.site-header .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.site-header .social-icons a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .site-header .social-icons a {
    margin-right: 8px;
  }
}

.site-header .social-icons a i {
  color: #fff;
  font-size: 16px;
}

.site-header .social-icons a:hover i {
  color: #C8A74B;
}

.site-header .container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-header .grid {
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
}

.site-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}

.site-header .menu .menu-item a {
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  line-height: 1.125rem;
  white-space: nowrap;
}

.site-header .menu .menu-item a:hover {
  color: #C8A74B;
}

.site-header .menu.right-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-header .menu-toggle {
  min-height: 24px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.site-header .menu-toggle span {
  background-color: #fff;
  height: 2px;
  width: 24px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-header .menu-toggle span:not(:last-child) {
  margin-bottom: 6px;
}

.site-header .menu-toggle.is-open span {
  margin: 0;
  -webkit-transform: rotate(-45deg) translateX(1px);
          transform: rotate(-45deg) translateX(1px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.site-header .menu-toggle.is-open span:first-child {
  -webkit-transform: rotate(45deg) translateX(1px);
          transform: rotate(45deg) translateX(1px);
}

.site-header .menu-toggle.is-open span:last-child {
  display: none;
}

.site-header .menu-toggle i {
  color: #fff;
  font-size: 24px;
}

.site-header .left-bar {
  gap: 8vw;
}

@media (min-width: 1400px) {
  .site-header .left-bar {
    gap: 120px;
  }
}

.site-header .right-bar {
  gap: 2vw;
}

@media (min-width: 1100px) {
  .site-header .right-bar {
    gap: 4vw;
  }
}

@media (min-width: 1400px) {
  .site-header .right-bar {
    gap: 60px;
  }
}

.site-logo {
  text-align: center;
}

.site-logo img {
  width: auto;
}

.cta a {
  font-size: 0.8125rem;
  white-space: nowrap;
  padding: 1rem 1.5rem;
}

@media (min-width: 1400px) {
  .cta a {
    padding: 1.25rem 2.5rem;
  }
}

.off-canvas-menu {
  width: 95vw;
  padding-top: 10vh;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: -200%;
  top: 100%;
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .off-canvas-menu {
    display: none;
  }
}

.off-canvas-menu.show {
  right: 0;
}

.off-canvas-menu .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.off-canvas-menu .menu li.menu-item {
  margin-bottom: 1.5rem;
}

.off-canvas-menu .menu li.menu-item a {
  color: #000;
  font-size: 1.125rem;
}

.off-canvas-menu .menu .btn-outline {
  color: #000;
}

.site-footer {
  background: #000 url("./assets/images/footer-bg.jpeg") 0% 0% no-repeat;
  background-size: cover;
  padding: 40px 0 60px;
  color: #fff;
}

.site-footer h4 {
  color: #fff;
  margin-bottom: 35px;
}

.site-footer .row {
  gap: 20px;
}

@media (min-width: 1024px) {
  .site-footer .row {
    gap: 60px;
  }
}

.site-footer .col {
  margin-bottom: 40px;
  width: 45%;
}

@media (min-width: 768px) {
  .site-footer .col {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }
}

@media (min-width: 1024px) {
  .site-footer .col {
    -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
  }
}

.site-footer .menu li:not(:last-child) {
  margin-bottom: 14px;
}

.site-footer .menu li a {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.site-footer .menu li a:hover {
  color: #C8A74B;
}

.site-footer .footer-branding {
  margin-bottom: 40px;
  position: relative;
}

.site-footer .footer-branding::before {
  content: "";
  height: 1px;
  width: 45%;
  left: 0;
  bottom: 50%;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
}

.site-footer .footer-branding::after {
  content: "";
  height: 1px;
  width: 45%;
  right: 0;
  bottom: 50%;
  background-color: #fff;
  opacity: 0.2;
  position: absolute;
}

.site-footer .footer-socials {
  gap: 12px;
}

@media (min-width: 1024px) {
  .site-footer .footer-socials {
    gap: 15px;
  }
}

.site-footer .footer-socials a {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .site-footer .footer-socials a {
    width: 40px;
    height: 40px;
  }
}

.site-footer .footer-socials a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .site-footer .footer-socials a i {
    font-size: 18px;
  }
}

.site-footer .footer-socials a:hover i {
  color: #C8A74B;
}

.site-footer .copyright {
  max-width: 400px;
  margin: 8px auto 60px;
  font-size: 0.8125rem;
  opacity: 0.5;
}

.site-footer .divider {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.2;
}

#hero h1 {
  color: #fff;
}

#hero .narrow-block {
  max-width: 700px;
}

#hero .small-text {
  color: #fff;
  text-shadow: 0px 0px 4px #000000;
  margin-bottom: 0.75rem;
}

#hero .hero-swiper {
  position: relative;
}

#hero .swiper-slide {
  padding: 5vw;
  height: calc(min(900px, 100vh));
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
}

#hero .slide-1 {
  background: transparent url("./assets/images/hero/mk-website-slider-1-kitchen.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

#hero .slide-3 {
  background: transparent url("./assets/images/mk-website-kitchen-design@2x.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

#hero .bg-overlay::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

#hero .button {
  padding: 1.25rem 3.75rem;
}

#hero .swiper-pagination {
  bottom: 30px;
  z-index: 1;
}

#hero .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  border-radius: 3px;
  height: 5px;
  width: 30px;
  background-color: #fff;
  opacity: 1;
}

@media (min-width: 768px) {
  #hero .swiper-pagination .swiper-pagination-bullet {
    width: 50px;
  }
}

#hero .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

#hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #D4B254;
}

#about .about-content {
  text-align: center;
  padding: 120px 24px;
  max-width: calc(1300px / 2);
}

@media (min-width: 768px) {
  #about .about-content {
    text-align: left;
    padding: 120px 5vw 120px 50px;
  }
}

@media (min-width: 1400px) {
  #about .about-content {
    padding: 168px 5vw 168px 70px;
  }
}

#about .about-cover {
  background: transparent url("./assets/images/mk-website-kitchen-design.jpeg") 50% 0% no-repeat;
  background-size: cover;
  min-height: 400px;
}

#about .small-text {
  margin-bottom: 15px;
}

#about h2 {
  margin-bottom: 33px;
}

#about p {
  font-size: 0.9375rem;
  margin-bottom: 27px;
  line-height: 1.75rem;
}

#about .button {
  padding: 1.25rem 3.75rem;
}

#testimonials {
  padding: 117px 0px;
}

#testimonials .swiper {
  max-width: 1000px;
  margin: 0 auto;
}

#testimonials .swiper-button-next, #testimonials .swiper-button-prev {
  width: 50px;
  height: 50px;
  color: #D4B254;
  top: 58%;
}

@media (min-width: 768px) {
  #testimonials .swiper-button-next, #testimonials .swiper-button-prev {
    width: 70px;
    height: 70px;
    top: 62%;
  }
}

#testimonials .swiper-button-next::after, #testimonials .swiper-button-prev::after {
  content: '';
  background: url("./assets/images/arrows.svg") 50% 50% no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

#testimonials .swiper-button-next {
  right: 4px;
}

@media (min-width: 768px) {
  #testimonials .swiper-button-next {
    right: 10px;
  }
}

#testimonials .swiper-button-prev {
  left: 4px;
}

#testimonials .swiper-button-prev::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  #testimonials .swiper-button-prev {
    left: 10px;
  }
}

#testimonials .testimonial {
  padding: 0 40px;
  max-width: 650px;
  margin: 0 auto;
}

#testimonials .testimonial .small-text {
  margin-bottom: 1rem;
}

#testimonials .testimonial h3 {
  margin-bottom: 1.5rem;
}

#testimonials .testimonial p {
  font-family: 'Helvetica';
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

@media (min-width: 768px) {
  #testimonials .testimonial p {
    font-size: 1.125rem;
    line-height: 32px;
  }
}

#testimonials .testimonial .author {
  display: block;
}

#testimonials .button {
  margin-top: 2.25rem;
  margin-left: 24px;
  margin-right: 24px;
}

#gallery {
  padding: 93px 0 100px;
}

#gallery h3 {
  margin-bottom: 2.25rem;
}

#gallery .button {
  margin-top: 2.5rem;
}

#gallery a {
  overflow: hidden;
}

#gallery a img {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#gallery a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 90vw;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.no-gutter {
  gap: 0;
}

.col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-6 {
  width: 50%;
}

.content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .col-md-6 {
    width: 50%;
  }
  .row-reverse-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .col-md-3 {
    width: 25%;
  }
}

@media (min-width: 1024px) {
  .d-lg-block {
    display: block;
  }
  .d-lg-none {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.fixed {
  overflow: hidden !important;
}

body {
  color: #777777;
}

.menu {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.small-text {
  display: block;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.5em;
  letter-spacing: 3px;
}

.accent-color {
  color: #D4B254;
}

.light-background {
  background-color: #EEEEEE;
}
/*# sourceMappingURL=style.css.map */